/* =================
   Card Under 600px
   ================= */

:root {
  // Colors

  /// Primary

  --violet: hsl(263, 55%, 52%);
  --violet-white: #b7a2d7;
  --dark-grayish-blue: hsl(217, 19%, 35%);
  --dark-gray: hsl(217, 19%, 55%);
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /// Neutral

  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

.card {
  padding-block: 1.8em;
  padding-inline: 3em;

  border-radius: 13px;

  .profile__top {
    display: flex;
    gap: 0.9em;
    align-items: center;

    margin-block-end: 1em;
  }

  .profile__img {
    border-radius: 200px;
    scale: 75%;
    margin-left: -0.9rem;
  }

  .profile__name {
    color: var(--white);
    margin-block-end: 0.1em;
    font-weight: 600;

    font-size: 1.95rem;
  }

  .profile__grad {
    color: var(--light-gray);
    font-size: 1.65rem;
    font-weight: 500;
  }

  .subheading {
    color: var(--white);

    font-size: 3rem;
    font-weight: 600;
    text-wrap: pretty;
    margin-block-end: 0.8em;
  }

  .quote {
    color: var(--light-gray);

    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.3em;
    text-wrap: pretty;

    margin-block-end: 1em;
  }

  &-rect {
    &-wide {
      &--1 {
        background: var(--violet);
        background-image: url(../images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: top right 10.5%;
        background-size: 32%;

        .profile__img {
          border: 3px solid var(--violet-white);
        }

        .profile__grad {
          color: var(--violet-white);
        }

        .quote {
          color: var(--violet-white);
        }
      }

      &--2 {
        background: var(--dark-blackish-blue);

        .profile__name,
        .subheading {
          color: var(--light-grayish-blue);
        }

        .profile__grad,
        .quote {
          color: var(--light-gray);
        }

        .profile__img {
          border: 3px solid hsl(263, 55%, 57%);
        }
      }
    }

    &-tall {
      background: var(--white);

      .profile__name,
      .subheading {
        color: var(--dark-grayish-blue);
      }

      .profile__grad,
      .quote {
        color: var(--dark-gray);
      }
    }
  }

  &-box {
    &--1 {
      background: var(--dark-grayish-blue);
    }

    &--2 {
      background: var(--white);

      .profile__name,
      .subheading {
        color: var(--dark-grayish-blue);
      }

      .profile__grad,
      .quote {
        color: var(--dark-gray);
      }
    }
  }
}

/* =================
   Card 600px - 900px
   ================= */

@media (min-width: 600px) {
  body {
    // background: red;
  }
}
