/* =============
   Footer 
   ============= */

.attribution {
  font-size: 1.8rem;
  text-align: center;
  color: var(--dark-grayish-blue);

  text-wrap: balance;
  margin-block-start: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* =============
   Wrapper 
   ============= */

.grid {
  display: flex;
  flex-direction: column;
  gap: 7vw;
}
