/* =============
   Footer 
   ============= */

.attribution {
  font-size: 1.8rem;
  text-align: center;
  color: var(--dark-grayish-blue);

  text-wrap: balance;
  margin-block-start: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* =============
   Wrapper 
   ============= */

.grid {
  display: flex;
  flex-direction: column;
  gap: 7vw;
}

/* =====================
   Tablet 600px - 900px
   ===================== */

@media (min-width: 600px) {
  .attribution {
    font-size: 3rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw;

    margin-block-end: -3rem;
  }
}
